body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

h2 {
    text-align: center;
}

#buttons {
    color: white;
    background-color: teal;
    text-align: center;
    padding: 20px;
}

.gifs {
    width: 70%;
    float: left;
}
#search {
    text-align: center;
    padding: 20px;
}